<div class ="container">
  <div class ="d-flex">
    <%= image_tag('movie_poster.jpg', size: "350x500") %>
    <div class="mx-auto">
      <h2><%= @viewing.user.username %> vous propose <%= @viewing.movie_info %></h2>
      <div class ="d-flex flex-column">
        <h4> le <%= @viewing.date %></h4>
        <% if current_user == @viewing.user %>
          <p><%= link_to "EDIT", edit_host_viewing_path(@viewing), class: "btn btn-primary"%></p>
        <% end %>
      </div>
      <div class ="d-flex flex-column">
        <%= image_tag('home-cinema-image-2.jpg', size: "700x300" ) %>
        <% if current_user != @viewing.user %>
          <%= link_to "Je réserve ma place !", viewing_bookings_path(@viewing), method: :post, class: "btn btn-primary" %>
        <% else %>
          <p> Tes inscrits à cette projection sont :</p>
          <ul>
            <% @bookings.each do |booking| %>
            <li>
              <%= booking.user.username %>
              Status : <%= booking.progress %>
            </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
