<div class ="container">
  <div class ="d-flex">
    <%= image_tag('movie_poster', size: "300x500") %>
    <div>
      <h1><%= @viewing.movie_info %></h1>
      <div class ="d-flex flex-column">
        <h2><%= @viewing.date %></h2>
        <p><%= link_to "edit", edit_host_viewing_path(@viewing)%></p>
      </div>
      <div>
        <img src="" alt="">
        <%= link_to "Reservez maintenant!", viewing_bookings_path(@viewing), method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
