<div class="container">
  <h1>Liste des projections que tu as demandé</h1>
  <% @bookings.each do |booking| %>
  <div class="card-product mt-3">
    <%= cl_image_tag(booking.viewing.user.photo, width: 400, height: 300, crop: :fill) %>
      <div class="card-product-infos ">
        <div>
          <%= link_to viewing_path(booking.viewing) do %>
            <h2><%= booking.viewing.movie_info %></h2>
          <% end %>
          <p>Date de la projection: <%= booking.viewing.date %> à 21h</p>
          <p>Proposé par: <%= User.find(booking.viewing.user_id).username %></p>
          <% if booking.progress == "accepted" %>
            <p class="text-success"> Statut: <%= booking.progress %></p>
          <% elsif booking.progress == "pending" %>
            <p class="text-warning"> Statut: <%= booking.progress %></p>
            <% else %>
            <p> Statut: <%= booking.progress %></p>
          <% end %>
        </div>
      </div>
  </div>
  <% end %>
  <%= link_to "Retour à l'accueil", root_path %>
</div>
